# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# PyCharm
.idea/deployment.xml
.idea/webServers.xml

.env
*.db

# ML datasets
evaluation/PhiUSIIL_Phishing_URL_Dataset.csv

# Trained models
models/*.pkl
models/*.joblib